.carousel-title{
  font-size: 30px;
}

.header .nav-lang li a{
	color: grey ;
}

.nav-lang li a.active, .nav-lang li a:hover{
	color: #cd5d0d;
}

.header .nav-item-child:hover{
	color: #cd5d0d;
}

.logo-img:hover{
     animation: swing 1s;
}

.logo {
     display: flex;
     padding-top: 15px;
   }

.logo_part {
     font-family: 'Jura', sans-serif;
     color: #b7530c;
     font-size: 50px;
     text-align: center;
   }

   .logo_part_orange {
     font-family: 'Jura', sans-serif;
     color:rgb(255, 255, 255);
     font-size: 50px;
     text-align: center;
     opacity: 0;
     transform: scale(0);
     width: 0;
   }

   
   
   .unhidden {
     transform: scale(1);
     opacity: 1;
     width: 100%;
     transition: all 3s ease-in-out;
   }


/*------------------------------------------------------------------
    [Top margin]
------------------------------------------------------------------*/

.margin-t-100 {
  margin-top: 100px !important;
}

ul {
     list-style: none;
     float: left;
}



ul > li > a {
     padding: 10px; 
     color: #fff;
     text-decoration: none;
}

ul > li > a:hover, 
ul > li:hover > a {
     color: #de5f44;
     text-decoration: underline;
}



 ul > li ul {
     padding: 10px;
     color: #000;
     position: absolute; 
     visibility: hidden;
     left: -150px; 
     top: 60px; 
     width: 300px; 
     opacity: .7;
     text-align: left;
     background-color: black;
     border: 1px solid #b7530c;
     transform: scaleY(0); /* zwijamy cały element */
     -webkit-transform: scaleY(0);
     transform-origin: 50% 0; /* ustawiamy punkt zwijania względem środka górnej krawędzi */
     -webkit-transform-origin: 50% 0;
     transition: 200ms; /* wydłużamy wykonywanie stylów */
}
ul li:hover > ul {
     visibility: visible;
     text-decoration: none;
     color: #fff;
     transform: scaleY(1); /* rozwijamy element do całej jego wysokości */
     -webkit-transform: scaleY(1);
}

ul > li ul li  {
     padding: 10px 20px; 
     color: #fff; 
     text-decoration: none;
     display: block;
}

.photo{
    width:70%;
    height: 70%;
    transition: all .3s ease-in-out;
}

.photo:hover{

transform: scale(1.1,1.1);
cursor: pointer;

}

.footer_background{
    background-image: url("../img/1920x1080/01.jpg");
    color:white;
     background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;     
}

.svg_img{
    width:70%;
    margin-left: 55px;;
    margin-right: auto;
    padding-top: 30px;
}



.star:hover{
	animation-name:wibration;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	cursor: pointer;
}

@keyframes wibration {

	50%{
		fill:#bc7b19;
        transform:translate(0,-5px);
	}


}

p{
    font-family: 'Roboto', sans-serif;
    
}
